body{
    text-align: center;
    background-color: #6F0A9C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1{
    font-size: 50px;
}

